* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 80%;
  max-width: 40rem;
  border: 3px solid blue;
  padding: 3rem;
  margin: 0 auto;
}

h1 {
	background: #000;
	color: #fff;
	padding: 5rem;
	font-size: 4rem;
	text-shadow: 5px 4px 5px rgba(0,0,0,0,3);
	margin-top: 0;
	background-image: url(whatever).jpg;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}

p {
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.dropbtn {
	background-color: #00AA66;
	color: white;
	padding: 14px;
	font-size: 10px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color:#010101;
	min-width: 100px;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 10px 15px;
	text-decoration: none;
	display: block;
}

.dropdown-content a {
	color: #33ee41;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}

header {
	background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem;
    position: relative;
}

header.hero-banner {
    background-color: #f5f7fa;
	border-bottom: 1px solid #e4ebf3;
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
 }

 div.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 }

 div-hero-content * {
    margin: 10px 0;
 }

main.mainContent {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

 button {
    background-color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #f0f0f0; 
}

@media screen and (max-width: 570px) {
    button {
        display: block;
    }
	  
    nav {
       position: absolute;
       top: 100%;
       right: 0;
       z-index: 100;
       background-color: #fff;
       width: 100%;
    }
  
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
  
    nav.active {
        display: block;
    }
}

footer {
	padding: 10px;
	margin-top: 10px;
	text-align: justify;
	grid-column-gap: 25px;
	display: flex;
}
